{% if sorted_books %}
<h3 class="mt-2 text-sm">Search Results:</h3>
<ul class="search-items w-full mt-2 bg-white rounded p-2 border border-gray-200 shadow-sm">
    {% for book in sorted_books %}
    <a href="{% url 'app_book:search_details' book.id %}?user_location={{user_location}}"
        class="search-item p-2 flex justify-between items-center bg-white rounded relative cursor-pointer hover:bg-gray-50 hover:text-gray-900 border-b last:border-b-0">
        <div>
            <div class="flex items-center gap-2 text-gray-600 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-building-store w-4 h-4 mt-0.5 text-gray-600"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 21l18 0" />
                    <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
                    <path d="M5 21l0 -10.15" />
                    <path d="M19 21l0 -10.15" />
                    <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
                </svg>
                {{ book.store_name }} |
                <div class="text-gray-600 flex gap-1 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-phone text-slate-700 w-4 h-4 mt-0.5 inline-block"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                    </svg>
                    {{ book.store_phone }}
                </div>
            </div>
            <p class="ml-7 text-xs text-gray-400">{{ book.store_city }}, {{ book.store_street }}</p>
        </div>
        <span class="inline-block bg-blue-500 text-white rounded-md px-2 py-1 text-xs font-semibold">{{book.distance}}
            km</span>
    </a>
    {% endfor %}
</ul>
{% else %}
<p class="mt-3 font-medium text-center">No data is found!</p>
{% endif %}