{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Book Details | {% endblock title %}

{% block main_content %}

<section class="relative overflow-y-auto p-4 md:p-6 min-h-full mb-4">
    {% include 'partials/section_nav.html' %}
    <div class="mx-auto max-w-5xl h-full grid grid-cols-1 md:grid-cols-8 gap-16">
        <div class="w-full md:col-span-3">
            <img src="{% if order_obj.book.cover_image %}{{order_obj.book.cover_image.url}}{% else %}{% static 'images/no-image-placeholder.png' %}{% endif %}"
                alt="" class="rounded-md w-full">
            <div class="w-full">
                <h2
                    class="mb-2 mt-3 text-xl font-semibold leading-none text-gray-900 md:text-2xl dark:text-white">
                    {{order_obj.book.title}}</h2>
                <div class="flex gap-8 mt-6">
                    <dl class="flex items-center space-x-8 w-full">
                        <div>
                            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Store</dt>
                            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{order_obj.book.store.name}}
                            </dd>
                        </div>

                        <div>
                            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Category</dt>
                            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
                                {{order_obj.book.category.category_name}}</dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <div class="md:col-span-5 w-full mx-auto">
            <p class="text-xl font-medium">Order Details</p>
            <p class="text-gray-400">Your placed order details informations.</p>
            {% if request.user.role == 'Shop Owner' %}
            <h4 class="text-lg font-semibold mt-6"><i class="ti ti-user-pentagon mr-2"></i>Customer Informations -</h4> <hr class="my-2">
            <p class="text-gray-600 text-base my-1">Customer Name: {{ order_obj.customer.name }}</p>
            <p class="text-gray-600 text-base my-1">Customer Email: {{ order_obj.customer.email }}</p>
            <p class="text-gray-600 text-base my-1">Customer Phone: {{ order_obj.customer.phone }}</p>
            <p class="text-gray-600 text-base my-1">Customer Address: {{ order_obj.customer.address }}</p>
            {% else %}
            <h4 class="text-lg font-semibold mt-6"><i class="ti ti-user-pentagon mr-2"></i>Seller Informations -</h4> <hr class="my-2">
            <p class="text-gray-600 text-base my-1">Store Name: {{ order_obj.store.name }}</p>
            <p class="text-gray-600 text-base my-1">Store Email: {{ order_obj.store.email }}</p>
            <p class="text-gray-600 text-base my-1">Seller Phone: {{ order_obj.store.phone }}</p>
            <p class="text-gray-600 text-base my-1">Seller Address: {{ order_obj.store.city }}, {{ order_obj.store.street }} | {{ order_obj.store.zip_code }}</p>
            {% endif %}
            <h4 class="text-lg font-semibold mt-6"><i class="ti ti-credit-card mr-2"></i>Payment Informations -</h4> <hr class="my-2">
            <p class="text-gray-600 text-base my-1">Payment Method: {{ order_obj.payment.payment_method }}</p>
            <p class="text-gray-600 text-base my-1">Transaction id: {{ order_obj.payment.transaction_id }}</p>
            <p class="text-gray-600 text-base my-1">Payment Date: {{ order_obj.payment.payment_date }}</p>

            <h4 class="text-lg font-semibold mt-6"><i class="ti ti-receipt mr-2"></i>Book Purchase Price Details -</h4> <hr class="my-2">
            <p class="text-gray-600 text-base my-1">Book Price: {{ order_obj.book.price }} BDT.</p>
            <p class="text-gray-600 text-base my-1">Book Quantity: x {{ order_obj.books_quantity }}</p>
            <p class="text-gray-600 text-base my-1">Shipping Cost: 70 BDT.</p>
            <p class="text-gray-600 text-base my-1">Sub Total: {{ sub_total_price }} BDT.</p>
            <p class="text-gray-600 text-base font-semibold my-1">Total: {{ total_price }} BDT.</p>
        </div>
    </div>
</section>

{% endblock main_content %}