{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Payment | {% endblock title %}


{% block main_content %}


<section class="relative overflow-y-auto p-4 md:p-6 min-h-full mb-4">
    {% include 'partials/section_nav.html' %}
    <div class="max-w-5xl mx-auto h-full">
        <form action="#" method="post" class="h-full">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="flex items-center mt-6">
                <a href="#" onclick="return confirm('Are you sure?')"
                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-credit-card mr-2" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
                        <path d="M3 10l18 0" />
                        <path d="M7 15l.01 0" />
                        <path d="M11 15l2 0" />
                    </svg>
                    Purchase Order
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock main_content %}