{% load static %}
{% if widget.is_initial %}
<!-- {{ widget.initial_text }}: -->
<img src="{{ widget.value.url }}" alt="{{ widget.value }}" srcset="" class="rounded-md mb-4">
<!-- <a href="{{ widget.value.url }}">{{ widget.value }}</a> -->
{% if not widget.required %}
<div class="flex items-center mb-2.5">
    <input id="{{ widget.checkbox_id }}" {% if widget.attrs.disabled %} disabled{% endif %}
        name="{{ widget.checkbox_name }}" type="checkbox"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="{{ widget.checkbox_id }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ widget.clear_checkbox_label }}</label>
</div>
{% endif %}
<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="small_size">{{ widget.input_text}}:</label>
{% endif %}
{% if widget.type == 'file' %}
<div class="flex items-center justify-center w-full">
    <label for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-44 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="uploaded-file-container h-full w-full hidden">
            <div class="px-3 py-6 flex flex-col items-center justify-center h-full gap-2">
                <img src="" alt="" class="h-full">
                <span class="text-xs text-gray-500 dark:text-gray-400 inline-block"></span>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center px-3 py-6 dropzone-text">
            <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
            </svg>
            <p class="mb-1 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span>
                or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF</p>
        </div>

        <input id="dropzone-file" hidden type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %} />
    </label>
</div>
{% else %}
<input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
{% endif %}