{% extends 'dashboard/base.html' %}
{% load static %}
<!-- Map Style, Links and Js Files -->
{% block head_css %}
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css'
    type='text/css' />
{% endblock head_css %}
{% block head_js %}
<script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'>
</script>
{% endblock head_js %}
{% block title %}Store | Update Profile {% endblock title %}

{% block main_content %}
<!-- class="bg-white max-w-4xl mx-auto" -->
<section class="relative overflow-y-auto p-4 md:p-6 min-h-full mb-4">
    {% include 'partials/section_nav.html' %}
    <div class="max-w-5xl mx-auto h-full">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Store Actions</h2>
        <form method="POST" action="#">
            {% csrf_token %}
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Store
                        Name</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="w-full">
                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="w-full">
                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 ">Phone</label>
                    {{ form.phone }}
                    {{ form.phone.errors }}
                </div>
                <div>
                    <label for="category" class="block mb-2 text-sm font-medium text-gray-900 ">City</label>
                    {{ form.city }}
                    {{ form.city.errors }}
                </div>
                <div>
                    <label for="item-weight" class="block mb-2 text-sm font-medium text-gray-900 ">Zip Code</label>
                    {{ form.zip_code }}
                    {{ form.zip_code.errors }}
                </div>
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Store Licence</label>
                    {{ form.licence }}
                    {{ form.licence.errors }}
                </div>
                <div class="sm:col-span-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">Street
                        Address</label>
                    {{ form.street }}
                    {{ form.street.errors }}
                </div>
                <!-- Extra Map Work Start -->
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Select Location</label>

                    <div id='map' class=" aspect-[19/6] rounded-md"></div>
                    {{form.location}}
                    <div class="name text-end mt-4"><button type="button"
                            class="text-white ml-auto bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-1.5 text-center locate-btn"
                            onclick="getCurrentLocFunc()">Locate Me</button>
                    </div>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit"
                    class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                    Submit
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock main_content %}
{% block script %}
<!-- Map JS Start -->
<script>
    mapboxgl.accessToken =
        'pk.eyJ1Ijoic3JhYmJpIiwiYSI6ImNrcG96cXhkcjAyaHAyb2s5MGZib3JydGMifQ.VvzeD_NW9jIYo3kjT2ANdw';
    let previous_Marker
    let locOptions = {
        maximumAge: 10000,
        timeout: 5000,
        enableHighAccuracy: true
    };
    let locInpField = null


    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 15,
    });

    let geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl,
        marker: true,
        placeholder: 'Search for places ...',

    });

    map.addControl(geocoder);

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    function getCurrentLocFunc() {
        let clat, clong
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                clat = position.coords.latitude
                clng = position.coords.longitude
                if (locInpField)
                    locInpField.value = `${clat},${clng}`;
                if (previous_Marker) {
                    previous_Marker.remove()
                }
                let marker = new mapboxgl.Marker({
                    color: 'red',
                    scale: 1.00,
                })
                    .setLngLat([clng, clat])
                    .addTo(map);
                previous_Marker = marker
                map.flyTo({
                    center: [clng, clat]
                });
            }, error, locOptions);


        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }
    map.addControl(new mapboxgl.NavigationControl());
    map.addControl(new mapboxgl.GeolocateControl({}));
</script>
<script>
    locInpField = document.querySelector('#id_location')
    locInpField.setAttribute("type", "hidden");
    map.on('load', function () {
        map.on('click', function (e) {
            if (previous_Marker) {
                console.log(previous_Marker)
                previous_Marker.remove()
            }
            locInpField.value = `${e.lngLat.lat},${e.lngLat.lng}`;
            let marker = new mapboxgl.Marker({
                color: 'green',
                scale: 0.9
            })
                .setLngLat([e.lngLat.lng, e.lngLat.lat])
                .addTo(map);
            previous_Marker = marker

        });
        if (locInpField.value) {
            tloc = locInpField.value.split(',').reverse()
            let marker = new mapboxgl.Marker({
                color: 'red',
                scale: 0.9
            })
                .setLngLat(tloc)
                .addTo(map);
            previous_Marker = marker
            map.flyTo({
                center: tloc,
            });
        } else
            getCurrentLocFunc()
    })
</script>
<!-- Map JS End -->
{% endblock script %}