{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Update Profile | {% endblock title %}


{% block main_content %}


<section class="relative overflow-y-auto p-4 md:p-6 min-h-full mb-4">
    {% include 'partials/section_nav.html' %}
    <div class="max-w-5xl mx-auto h-full">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update Profile</h2>
        <form action="#" method="post" enctype="multipart/form-data" class="grid sm:grid-cols-3 sm:gap-8">
            {% csrf_token %}
            <div class="sm:col-span-1">
                <div>
                    <label for="id_cover_image"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Profile Image</label>
                    {{form.image}}
                    {{form.image.errors}}
                </div>
            </div>
            <div class="sm:col-span-2">
                <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                    <div class="sm:col-span-2">
                        <label for="name"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                        {{form.name}}
                        {{form.name.errors}}
                    </div>
                    <div class="sm:col-span-2">
                        <label for="price"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        {{form.email}}
                        {{form.email.errors}}
                    </div>
                    <div>
                        <label for="id_phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                        {{form.phone}}
                        {{form.category.errors}}
                    </div>
                    <div>
                        <label for="author" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Other
                            Phone</label>
                        {{form.other_phone}}
                        {{form.other_phone.errors}}
                    </div>
                    <div class="sm:col-span-2">
                        <label for="id_cover_image"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                        {{form.address}}
                        {{form.address.errors}}
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    <button type="submit"
                        class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Update Profile
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock main_content %}